<div ng-controller="userProfileCtrl2 as $ctrl">
<div id="boxev1">

    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <img id="imgOpera" ng-src="{{dati.user.img_url}}" alt="{{dati.user.img_alt}}" ng-if="dati.user.img_url.includes('https://firebasestorage.googleapis.com')"style="opacity: 1">
                <p>
                    <button class="pull-right btn btn-danger" ng-click="logout();">Logout</button>
                </p>
                <h1>{{dati.user.name}} {{dati.user.surname}}</h1>
            </div>
            <p>
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{dati.user.email}}">{{dati.user.email}}</a>
            </p>


            <div id="eventsDiv">
                <h4>Eventi</h4>
                <div ng-repeat="evento in dati.eventos" ng-if ="dati.user.userId == evento.autoreId" >
                    <a href="#!/detailsEvento/{{evento.autoreId}}/{{evento.id}}">

                        <em>{{evento.nome_evento}}</em></a>
                </div>
            </div>
            <div id="worksDiv">
                <h4>Opere</h4>
                <div ng-repeat="opera in dati.opere" ng-if ="dati.user.userId == opera.autoreId" >
                    <a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}">

                    <em>{{opera.titolo}}</em></a>
                </div>
            </div>
            <div id="criticsDiv">
                <h4>Critiche</h4>
                <div ng-repeat="critica in dati.critics" ng-if="dati.user.userId == critica.autoreId" >
                    <a href="#!/detailCritica/{{critica.autoreId}}/{{critica.id}}">
                    <em>{{critica.nome_critica}}</em></a>
                </div>
            </div>
            <div id="followersDiv">
                <h4>Followers</h4>
                <div ng-repeat="follow in dati.follows" ng-if ="dati.user.userId == follow.followed" >
                    <a href="#!/otherUser/{{follow.follower.userId}}">

                        <em>{{follow.follower.name}}</em></a>
                </div>
            </div>
            <div id="followingDiv">
                <h4>Following</h4>
                <div ng-repeat="follow in dati.follows" ng-if="dati.user.userId==follow.follower.userId">
                    <a href="#!/otherUser/{{follow.followed}}">
                        <em>{{follow.followedName}}</em></a>
                </div>
            </div>
            <form id="frmAdd" role="form" ng-submit="addImage()">

                <div class="form-group">
                    <h2 ng-if=" dati.user.img_alt == 'null'">Aggiungi nuova immagine del profilo</h2>
                    <h4 ng-else>Modifica immagine Profilo</h4>
                    <file-upload on-change="$ctrl.onChange">
                    </file-upload>
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

<div id="boxev2">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="opera in dati.opere | orderBy:orderProp | filter:Autore(opera.autoreId)" active="slide.active">
                <img class="carousel" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" style="width:100%;" >
                <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                </div>
            </slide>
        </carousel>
    </div>

    </div>
</div>

