<div id="boxev1">
    <div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{{dati.user.name}} {{dati.user.userId}} {{dati.user.surname}}</h1>
        </div>
        <p>
            <span class="glyphicon glyphicon-envelope"></span> {{dati.user.email}}
        </p>

        <p>
            <button class="center-block btn btn-danger" ng-click="logout();">Logout</button>
        </p>
        <div id="eventsDiv">
            <h4>Eventi</h4>
            <div ng-repeat="evento in dati.eventos" ng-if ="dati.user.userId == evento.autoreId" >
                <em>{{evento.nome_evento}}</em>
            </div>
        </div>
        <div id="worksDiv">
            <h4>Opere</h4>
            <div ng-repeat="opera in dati.opere" ng-if ="dati.user.userId == opera.autoreId" >
                <em>{{opera.titolo}}</em>
            </div>
        </div>
        <div id="criticsDiv">
            <h4>Critiche</h4>
            <div ng-repeat="critica in dati.critiche" ng-if ="dati.user.userId == critica.autoreId" >
                <em>{{critica.tema}}</em>
            </div>
        </div>
        <div id="followersDiv">
            <h4>Followers</h4>
            <div ng-repeat="follow in dati.follows" ng-if ="dati.user.userId == follow.followed" >
                <em>{{follow.follower}}</em>
            </div>
        </div>
        <div id="followingDiv">
            <h4>Followinig</h4>
            <div ng-repeat="follow in dati.follows" ng-if ="dati.user.userId == follow.follower" >
                <em>{{follow.followed}}</em>
            </div>
        </div>
    </div>
    </div>
</div>

<div id="boxev2">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li ng-repeat="opera in dati.opere" data-target="#myCarousel" ng-if="dati.user.userId == opera.autoreId" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item" ng-class="{active:!$index}" ng-repeat="opera in dati.opere" ng-if="dati.user.userId == opera.autoreId" >
                <img ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}"ng-if="opera.img_url.includes('https://firebasestorage.googleapis.com')" style="width:100%;">
                <div class="carousel-caption">
                    <h3>{{opera.titolo}}</h3>
                    <p>{{opera.autoreId}}</p>
                    <p>{{dati.recipient.userId}}</p>
                    <p>{{opera.ubicazione}}</p>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="../#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="../#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
</div>
</div>
