<div id="boxev1">
    <div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            <h1>{{dati.user.name}} {{dati.user.userId}} {{dati.user.surname}}</h1>
        </div>
        <p>
            <span class="glyphicon glyphicon-envelope"></span> {{dati.user.email}}
        </p>

        <p>
            <button class="center-block btn btn-danger" ng-click="logout();">Logout</button>
        </p>
        <div id="eventsDiv">
            <h4>Eventi</h4>
            <div ng-repeat="evento in dati.eventos" ng-if ="dati.user.userId == evento.autoreId" >
                <em>{{evento.nome_evento}}</em>
            </div>
        </div>
        <div id="worksDiv">
            <h4>Opere</h4>
            <div ng-repeat="opera in dati.opere" ng-if ="dati.user.userId == opera.autoreId" >
                <em>{{opera.nome}}</em>
            </div>
        </div>
        <div id="criticsDiv">
            <h4>Critiche</h4>
            <div ng-repeat="critica in dati.critiche" ng-if ="dati.user.userId == critica.autoreId" >
                <em>{{critica.tema}}</em>
            </div>
        </div>
        <div id="followersDiv">
            <h4>Followers</h4>
            <div ng-repeat="follow in dati.follows" ng-if ="dati.user.userId == follow.followed" >
                <em>{{follow.follower}}</em>
            </div>
        </div>
        <div id="followingDiv">
            <h4>Followinig</h4>
            <div ng-repeat="follow in dati.follows" ng-if ="dati.user.userId == follow.follower" >
                <em>{{follow.followed}}</em>
            </div>
        </div>
    </div>
    </div>
</div>

<div id="boxev2">
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">

            </ul>
        </div>
    </div>
</div>