<div id="box">
    <div class="LinkList"><a href="#!usersList">Profili</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <h4>Eventi </h4>

                <li class="media" ng-repeat="evento in dati.eventos">
                    <a href="#!/detailsEvento/{{evento.autoreId}}/{{evento.id}}">
                        <div class="media-left">
                            <div id="evento">
                                <img class="media-object" ng-src="../{{evento.img_url}}" alt="{{evento.img_alt}}">
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{evento.tema}}</strong></h4>
                            <p>{{evento.autoreId.name}}</p>
                        </div>
                        <hr/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="LinkList"><a href="#!listeventView">Lista_Eventi</a>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <h4>Opere </h4>

                <li class="media" ng-repeat="opera in dati.opere">
                    <a href="#!detailOpera/{{opera.autoreId}}/{{opera.id}}">
                        <div class="media-left">
                            <div id="opera">
                                <img class="media-object" ng-src="{{dati.opera.img_url}}" alt="{{dati.opera.img_alt}}">
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{opera.titolo}}</strong></h4>
                            <p>{{opera.autoreId.name}}</p>
                        </div>
                        <hr/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="LinkList"><a href="#!listeOpere">Lista_Opere</a>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <h4>Critiche </h4>

                <li class="media" ng-repeat="critica in dati.critiche">
                    <a href="#!/detailCritica/{{critica.autoreId}}/{{critica.id}}">
                        <div class="media-left">
                            <div id="critica">
                                <img class="media-object" ng-src="../{{critica.img_url}}" alt="{{critica.img_alt}}">
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{critica.id}}</strong></h4>
                                <p>{{opera.autoreId.name}}</p>
                        </div>
                            <hr/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="LinkList"><a href="#!listeCritiche">Lista_Critiche</a></div>
</div>