
<div class="thumbnail">
<div class="LinkList"></div></div>

    <div class="col-sm-6"ng-repeat="evento in dati.eventos">
        <div class="thumbnail">
        <a href="#!/detailsEvento/{{evento.autoreId}}/{{evento.id}}">
            <img class="media-object" ng-src="{{evento.img_url}}" alt="{{evento.img_alt}}">
            <p><strong>{{evento.tema}}</strong></p>
            <p>{{opera.autoreId.name}}</p>
        </a>
    </div>
</div>
    <div class="col-sm-3" ng-repeat="opera in dati.opere">
        <div class="thumbnail">
            <a href="#!detailOpera/{{opera.autoreId}}/{{opera.id}}">
                <img class="media-object" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" ng-if="opera.img_url.includes('https://firebasestorage.googleapis.com')">
                <p><strong>{{opera.titolo}}</strong></p>
                <p>{{opera.autoreId.name}}</p>
            </a>
        </div>
    </div>
    <div class="col-sm-2" ng-repeat="critica in dati.critics">
        <div class="thumbnail">
            <a href="#!/detailCritica/{{critica.autoreId}}/{{critica.id}}">
                <p><strong>{{critica.tema}}</strong></p>
                <p>{{opera.autoreId.name}}</p>
            </a>
        </div>
    </div>

</div>