<div id="box">
    <div class="row">
        <div class="col-xs-6">
            <ul class="media-list">
                <li class="media" ng-repeat="opera in dati.opere">
                    <a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}">
                        <div class="media-left">
                            <div id="opera">
                                <img class="media-object" ng-src="../{{evento.img_url}}" alt="{{opera.img_alt}}" style="width: 80px;height: 80px;">
                            </div>
                        </div>
                        <div class="media-left">
                            <img class="media-object" ng-src="../{{opera.img_url}}" alt="{{opera.img_alt}}" ng-if="!(opera.img_url.includes('https://firebasestorage.googleapis.com')) && opera.img_url!=''">
                            <img class="media-object" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" ng-if="opera.img_url.includes('https://firebasestorage.googleapis.com')">
                            <img class="media-object" ng-src="../images/notAvailable.png" alt="{{opera.img_alt}}" ng-if="opera.img_url == ''">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><strong>{{opera.titolo}}{{opera.autoreId}}</strong></h4>
                        </div>
                        <hr/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <ul>
            <li ng-class="{'active' : dati.currentView === 'addOpera'}"><a href="#!/addOpera" data-toggle="modal" data-target="#myModal">Aggiungi opera</a></li>
        </ul>
    </div>
</div>