<div id="boxev2" class="row text-center">

                <input id="Search" type="text" class="form-control" ng-model="operaSearch" placeholder="Opera Search">
    <div class="col-sm-4" ng-repeat="opera in dati.opere | orderBy:orderProp | filter:operaSearch">
        <div class="thumbnail">
                    <div ng-repeat=" user in dati.users" ng-if="user.$id == opera.autoreId">
                    <a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}">
                            <img class="media-object" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" ng-if="opera.img_url.includes('https://firebasestorage.googleapis.com')" style="max-height: 70px;">

                            <h4 class="media-heading"><strong>{{opera.titolo}}</strong></h4></a>
                        <a href="#!/otherUser/{{user.$id}}">{{user.surname}} {{user.name}}</a><br/>
                        <button class="btn btn-danger" ng-click="removeOpera(opera.id)"ng-if="dati.userId == opera.autoreId">Rimuovi</button>
                                  </div>
                </div>
    </div>
        </div>
</div>



<div id="boxev1">

    <div ng-class="{'active' : dati.currentView === 'addOpera'}"><a href="#!/addOpera" data-toggle="modal" data-target="#myModal">
        <button type="button" class="btn btn-primary btn-lg btn-block">Aggiungi Opera</button></a>
    </div>

    <div>
        <carousel interval="myInterval"><h1>Le mie Opere</h1>
            <slide ng-repeat="opera in dati.opere | orderBy:orderProp | filter:Autore(dati.userId)" active="slide.active">
                <a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}">
                    <img class="carousel" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" style="width:100%;" ></a>
            </slide>
        </carousel>
    </div>
</div>