<div id="boxev1">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <img id="imgOpera" ng-src="{{dati.recipient.img_url}}" alt="{{dati.recipient.img_alt}}" ng-if="dati.recipient.img_url.includes('https://firebasestorage.googleapis.com')"style="opacity: 1">
                <h1>{{dati.recipient.userId}} {{dati.recipient.name}} {{dati.recipient.surname}}</h1>
                <div id="eventsDiv">
                    <h4>Eventi</h4>
                            <div ng-repeat="evento in dati.eventos" ng-if ="dati.recipient.userId == evento.autoreId" >
                        <em>{{evento.nome_evento}}</em>
                    </div>
                </div>
                <div id="worksDiv">
                    <h4>Opere</h4>
                    <div ng-repeat="opera in dati.opere" ng-if ="dati.recipient.userId == opera.autoreId" >
                        <em>{{opera.titolo}}</em>
                    </div>
                </div>
                <div id="criticsDiv">
                    <h4>Critiche</h4>
                    <div ng-repeat="critica in dati.critiche" ng-if ="dati.recipient.userId == critica.autoreId" >
                        <em>{{critica.tema}}</em>
                    </div>
                </div>
                <div id="followersDiv">
                    <h4>Followers</h4>
                    <div ng-repeat="follow in dati.follows" ng-if ="dati.recipient.userId == follow.followed" >
                        <em>{{follow.follower.name}}</em>
                    </div>
                </div>
                <div id="followingDiv">
                    <h4>Followinig</h4>
                    <div ng-repeat="follow in dati.follows" ng-if ="dati.recipient.userId == follow.follower.userId" >
                        <em>{{follow.followedName}}</em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="boxev2">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="opera in dati.opere | orderBy:orderProp | filter:Autore(dati.recipient.userId)" active="slide.active">
                <img class="carousel" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" style="width:100%;" >
                <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                </div>
            </slide>
        </carousel>
    </div>

    <div ng-repeat="follow in dati.follows | orderBy:orderProp1 | filter:Seguace(follow.follower.userId, follow.followed)">{{follow.follower.userId}}
    {{follow.followed}}    <button id="followButton"  ng-click="CreateFollow()" type="submit" class="btn btn-primary"  style="float: right;">Follow</button>
    </div>

    <div ng-repeat="follow in dati.follows" ng-if="dati.userId.$id == follow.follower.userId && dati.recipient.userId == follow.followed ">{{follow.id}}
            <button ng-click="removeFollow(follow.id)" type="submit" class="btn btn-info" style="float: right;">UnFollow</button>
    </div>
    </div>






