<div id="boxev1">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <img id="imgOpera" ng-src="{{dati.recipient.img_url}}" alt="{{dati.recipient.img_alt}}" ng-if="dati.recipient.img_url.includes('https://firebasestorage.googleapis.com')"style="opacity: 1">
                <h1>{{dati.recipient.name}} {{dati.recipient.surname}}</h1>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{dati.recipient.email}}">{{dati.recipient.email}}</a>
                </p>                <div id="eventsDiv">
                    <h4>Eventi</h4>
                            <div ng-repeat="evento in dati.eventos" ng-if ="dati.recipient.userId == evento.autoreId" >
                                <a href="#!/detailsEvento/{{evento.autoreId}}/{{evento.id}}">
                                    <em>{{evento.nome_evento}}</em></a>
                    </div>
                </div>
                <div id="worksDiv">
                    <h4>Opere</h4>
                    <div ng-repeat="opera in dati.opere" ng-if ="dati.recipient.userId == opera.autoreId" >
                        <a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}">
                            <em>{{opera.titolo}}</em></a>
                    </div>
                </div>
                <div id="criticsDiv">
                    <h4>Critiche</h4>
                    <div ng-repeat="critica in dati.critiche" ng-if ="dati.recipient.userId == critica.autoreId" >
                        <a href="#!/detailCritica/{{critica.autoreId}}/{{critica.id}}">
                            <em>{{critica.tema}}</em></a>
                    </div>
                </div>
                <div id="followersDiv">
                    <h4>Followers</h4>
                    <div ng-repeat="follow in dati.follows" ng-if ="dati.recipient.userId == follow.followed" >
                        <a href="#!/otherUser/{{follow.follower.userId}}">
                        <em>{{follow.follower.name}}</em>
                        </a>
                    </div>
                </div>
                <div id="followingDiv">
                    <h4>Followinig</h4>
                    <div ng-repeat="follow in dati.follows" ng-if ="dati.recipient.userId == follow.follower.userId" >
                        <a href="#!/otherUser/{{follow.followed}}">
                        <em>{{follow.followedName}}</em></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="boxev2">
    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="opera in dati.opere | orderBy:orderProp | filter:Autore(dati.recipient.userId)" active="slide.active">
                <a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}">
                    <img class="carousel" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" style="width:100%;" ></a>
                <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                </div>
            </slide>
        </carousel>
    </div>




    <button id="followButton" ng-if= "dati.notYetFollowing" ng-click="CreateFollow()"  type="submit" class="btn btn-primary"  style="float: right;">Follow</button>

            <button ng-if="dati.yetFollowing " ng-click="removeFollow(dati.Follow)" type="submit" class="btn btn-info" style="float: right;">UnFollow</button>
    </div>






