<div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>

<div id="boxev1">
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <form id="frmAdd" role="form" ng-submit="addOpera()">
                    <h2>Aggiungi nuova Opera</h2>

                    <div class="form-group">
                        <label for="txtTitolo">Titolo</label>
                        <input  type="text" class="form-control" id="txtTitolo" placeholder="Inserisci Titolo" name="name" ng-model="dati.nome" />
                    </div>
                    <button href="#!/homeView" type="submit" class="btn btn-success center-block">Insert</button>
                </form>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="boxev2">
    <div class="row">
        <div class="col-xs-12">
        </div>
    </div>
</div>
</div>
