<div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">{{ dati.feedback }}></div>

<div id="boxev1">
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <form id="frmAddEvento" role="form" ng-submit="editEvento()">
                    <h2>Modifica Evento</h2>


                    <div class="form-group">
                        <label for="txtTitolo">Titolo</label>
                        <input  type="text" class="form-control" id="txtTitolo"   ng-value="dati.evento.nome_evento" placeholder="Nome evento" name="name" ng-model="dati.nome_evento">
                    </div>
                    <div class="form-group">
                        <label for="txtTema">Tema</label>
                        <input type="text" class="form-control" id="txtTema" ng-value="dati.evento.tema" placeholder="Tema" name="tema" ng-model="dati.tema" />
                    </div>
                    <div class="form-group">
                        <label for="txtInaugurazione">Inaugurazione</label>
                        <input type="date" name="form-date" class="form-control" ng-value="dati.evento.inaugurazione" id="txtInaugurazione" ng-model="dati.inaugurazione" />
                    </div>
                    <div class="form-group">
                        <label for="txtData_Inizio">Data Inizio</label>
                        <input type="date" name="form-date" class="form-control" ng-value="dati.evento.start"  id="txtData_Inizio" ng-model="dati.start" />
                    </div>
                    <div class="form-group">
                        <label for="txtData_Fine">Data Fine</label>
                        <input type="date" name="form-date" class="form-control" ng-value="dati.evento.end" id="txtData_Fine" ng-model="dati.end" />
                    </div>
                    <div class="form-group">
                        <label for="txtUbicazione">Ubicazione</label>
                        <input type="text" class="form-control" id="txtUbicazione" ng-value="dati.evento.ubicazione" placeholder="Ubicazione" name="ubicazione" ng-model="dati.ubicazione" />
                    </div>
                    <div class="form-group">
                        <label for="txtInfo">Ulteriori Info</label>
                        <input type="text" class="form-control" id="txtInfo" ng-value="dati.evento.info" placeholder="Inserisci testo" name="info" ng-model="dati.info" />
                    </div>
                    <button href="#!/homeView" type="submit" class="btn btn-success center-block">Insert</button>
                </form>
            </ul>
        </div>
    </div>
</div>

<div id="boxev2">
    <div class="row">
        <div class="col-xs-12">

            <button type="button" type="submit" class=" btn btn-info center-block" data-toggle="modal" data-target="#myModal"  >Inserisci Artista</button>

                    <ul ng-repeat="partecipante in dati.partecipanti | orderBy:orderProp | filter:evento(partecipante.eventoId)">
                        {{partecipante}}
                        <button type="button" type="submit" class=" btn btn-default center-block" data-toggle="modal" data-target="#myModal2" ng-click="A(partecipante)">Aggiungi_Opere</button>
                    </ul>

        </div>
    </div>
</div>

<!-- Modal Aggiungi Artista -->
<div id="myModal" class="modal fade" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div  class="modal-content" class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <ul class="media-list">
                    <form id="frmAddUser" role="form" ng-submit="addUser()">
                        <div class="form-group">
                            <label for="selUtente">Scegli L'artista</label>
                            <select type="password" class="form-control" id="selUtente" ng-model="dati.userParId" />
                            <option ng-repeat="user in dati.availableUsers" ng-if="dati.userId != user.userId" value="{{user.userId}}">{{user.name}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success center-block">Aggiungi</button>
                    </form>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal Aggiungi Opera -->
<div id="myModal2" class="modal fade" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div  class="modal-content" class="col-xs-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <ul class="media-list">
                    {{partecipant}}

                    <h4>{{userPar.name}} {{userPar.surname}}, {{userPar.email}} </h4>

                    <ul ng-repeat="opera in dati.opere" ng-if="opera.autoreId == userPar.$id">
                        {{opera.id}}
                        <button ng-click="addWorks(IdParteipazione,opera.id)" type="submit" class="btn btn-success top-block" style="display : inline; float: right;">Add</button>
                        <a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}">
                            <img class="media-object" ng-src="{{opera.img_url}}" alt="{{opera.img_alt}}" ng-if="opera.img_url.includes('https://firebasestorage.googleapis.com')"></a>
                        {{opera.infoTecniche}}
                        <h4><a href="#!/detailOpera/{{opera.autoreId}}/{{opera.id}}"><br>{{opera.titolo}}</a></h4><hr/>
                    </ul>
                    <!--<form id="frmAddOpera" role="form" ng-submit="addOpera()">
                        <div class="form-group">
                            <label for="selUtente">Scegli L'artista</label>
                            <select type="password" class="form-control" id="selUtente" ng-model="dati.userParId" />
                            <option ng-repeat="user in dati.availableUsers" ng-if="dati.userId != user.userId" value="{{user.userId}}">{{user.name}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success center-block">Aggiungi</button>
                    </form>-->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>