<div class="alert alert-success alert-dismissible" role="alert" ng-if="dati.feedback">{{ dati.feedback }}</div>

<div id="boxev1">
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <form id="frmAddEvento" role="form" ng-submit="editEvento()">
                    <h2>Aggiungi nuovo Evento</h2>

                    <div class="form-group">
                        <label for="txtTitolo">Titolo</label>
                        <input  type="text" class="form-control" id="txtTitolo"   ng-value="dati.evento.nome_evento" name="name" ng-model="dati.nome_evento">
                    </div>
                    <div class="form-group">
                        <label for="txtTema">Tema</label>
                        <input type="text" class="form-control" id="txtTema" placeholder="Inserisci Tema" name="tema" ng-model="dati.tema" />
                    </div>
                    <div class="form-group">
                        <label for="txtInaugurazione">Inaugurazione</label>
                        <input type="text" class="form-control" id="txtInaugurazione" placeholder="//" name="inaugurazione" ng-model="dati.inaugurazione" />
                    </div>
                    <div class="form-group">
                        <label for="txtEsposizione">Esposizione</label>
                        <input type="text" class="form-control" id="txtEsposizione" placeholder="Es. Lun-Ven h10-18" name="mostra" ng-model="dati.mostra" />
                    </div>
                    <div class="form-group">
                        <label for="txtInfo">Ulteriori Info</label>
                        <input type="text" class="form-control" id="txtInfo" placeholder="Inserisci testo" name="info" ng-model="dati.info" />
                    </div>
                    <button href="#!/homeView" type="submit" class="btn btn-success center-block">Insert</button>
                </form>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="boxev2">
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">

            </ul>
        </div>
    </div>
</div>
</div>