
<!--
<div id="box2">
    <form id="frmLogin" role="form" ng-submit="signIn()">
            <div class="logoArté"></div>
            <div id="titolo">Benvenuto su Arté</div>


            <div class="form-group">
                <label for="txtEmail"></label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" ng-model="user.email" />
            </div>
            <div class="form-group">
                <label for="txtPass"></label>
                <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" ng-model="user.password" />
            </div>
            <div class="login">
                    <button >Login</button>
            </div>
            <div class="link"><a href="registrazione.html">Oppure registrati</a></div></p>
    </form>
</div>-->

<div id="boxev1">
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <form id="frmAddEvento" role="form" ng-submit="addEvento()">
                    <h2>Aggiungi nuovo Evento</h2>

                    <div class="form-group">
                        <label for="txtTitolo">Titolo</label>
                        <input  type="text" class="form-control" id="txtTitolo" placeholder="Inserisci Titolo" name="name" ng-model="dati.nome_evento" />
                    </div>
                    <div class="form-group">
                        <label for="txtTema">Tema</label>
                        <input type="text" class="form-control" id="txtTema" placeholder="Inserisci Tema" name="tema" ng-model="dati.tema" />
                    </div>
                    <div class="form-group">
                        <label for="txtInaugurazione">Inaugurazione</label>
                        <input type="text" class="form-control" id="txtInaugurazione" placeholder="//" name="inaugurazione" ng-model="dati.inaugurazione" />
                    </div>
                    <div class="form-group">
                        <label for="txtEsposizione">Esposizione</label>
                        <input type="text" class="form-control" id="txtEsposizione" placeholder="Es. Lun-Ven h10-18" name="mostra" ng-model="dati.mostra" />
                    </div>
                    <div class="form-group">
                        <label for="txtInfo">Ulteriori Info</label>
                            <input type="text" class="form-control" id="txtInfo" placeholder="Inserisci testo" name="info" ng-model="dati.info" />
                    </div>
                </form>
            </ul>
        </div>
    </div>
</div>
</div>

<div id="boxev2">
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">

            </ul>
        </div>
    </div>
</div>
</div>

