<div id="boxev1">
    <div id="map" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" class="col-md-8">
        <ng-map center="{{dati.opera.ubicazione}}" zoom="12">
            <marker ng-repeat="pos in dati.vm.positions" position="{{pos.ubicazione}}"></marker>
        </ng-map>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="media-list">
                <a href="#!/otherUser/{{dati.opera.autoreId}}"  ng-if="dati.opera.autoreId != dati.userId">{{dati.autoreId.name}}, {{dati.autoreId.surname}}</a>
                <a href="#!/userProfile"  ng-if="dati.opera.autoreId == dati.userId">{{dati.autoreId.name}}, {{dati.autoreId.surname}}</a>
            </ul>
        </div>
    </div>
</div>

<div id="boxev2">
    <div>
    <img id="imgOpera" ng-src="{{dati.opera.img_url}}" alt="{{dati.opera.img_alt}}" ng-if="dati.opera.img_url.includes('https://firebasestorage.googleapis.com')">
        </div>
    <p> {{dati.opera.titolo}}  di {{dati.autoreId.name}}, {{dati.autoreId.surname}} {{dati.opera.ubicazione}}
    </p>
</div>