<div id="boxev2" class="row text-center">
    <input id="Search" type="text" class="form-control" ng-model="eventSearch" placeholder="Event Search">
    <div class="col-sm-4 "ng-repeat="evento in dati.eventos | orderBy:orderProp | filter:eventSearch">
        <div class="thumbnail">
            <a href="#!/detailsEvento/{{evento.autoreId}}/{{evento.id}}">
                <img class="media-object" ng-src="{{evento.img_url}}" alt="{{evento.img_alt}}">
                <p><strong>{{evento.tema}}</strong></p>
                <p>{{opera.autoreId.name}}</p>
            </a>
            <button class="center-block btn btn-danger" ng-click="removeEvento(evento.id)" ng-if="dati.userId == evento.autoreId">Rimuovi</button>
            <a href="#!/addModifyEvent/{{evento.id}}">
                <button class="center-block btn btn-info" ng-if ="dati.userId == evento.autoreId">Modifica</button></a>
        </div>
    </div>
</div>

<div id="boxev1">


        <div ng-class="{'active' : dati.currentView === 'addEvento'}"><a href="#!/addEvento" data-toggle="modal" data-target="#myModal">
            <button type="button" class="btn btn-primary btn-lg btn-block">Crea_evento</button>
            </a></div>

    <div>
        <carousel interval="myInterval">
            <slide ng-repeat="evento in dati.eventos | orderBy:orderProp | filter:Autore(evento.autoreId)" active="slide.active">
                {{evento.autoreId}}
                <img class="carousel" ng-src="{{evento.img_url}}" alt="{{evento.img_alt}}" style="width:100%;" >
                <div class="carousel-caption">
                    <h4>Slide {{$index+1}}</h4>
                </div>
            </slide>
        </carousel>
    </div>


</div>