<div id="boxev2" class="row text-center">

    <div class="col-sm-4 "ng-repeat="evento in dati.eventos">
        <div class="thumbnail">
            <a href="#!/detailsEvento/{{evento.autoreId}}/{{evento.id}}">
                <img class="media-object" ng-src="../{{evento.img_url}}" alt="{{evento.img_alt}}">
                <p><strong>{{evento.tema}}</strong></p>
                <p>{{opera.autoreId.name}}</p>
            </a>
            <button class="center-block btn btn-danger" ng-click="removeEvento(evento.id)" ng-if="dati.userId == evento.autoreId">Rimuovi</button>
            <a href="#!/addModifyEvent/{{evento.id}}">
                <button class="center-block btn btn-info" ng-if ="dati.userId == evento.autoreId">Modifica</button></a>
        </div>
    </div>
</div>

<div id="boxev1">
    <div>
        <div ng-class="{'active' : dati.currentView === 'addEvento'}"><a href="#!/addEvento" data-toggle="modal" data-target="#myModal">
            <button type="button" class="btn btn-primary btn-lg btn-block">Crea_evento</button>
            </a></div>
    </div>
</div>
