body {
    background: url("../images/imgSfondo.gif");}

.overlay{
    background:#000;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    /*Trasperenza cross browser*/
    opacity: .7;
    filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";	}


#box{
    opacity: .80;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -250px;
    width: 500px;
    height: 450px;
    background-color:#FFF;
    z-index:+300;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    }


section {
    margin-right: 20%;
    margin-left: 20%;
}

.logoArté{
    content:url("../images/Arté.png ");
    padding-left: 32.5%;
    padding-top: 2%;
    width: 125px;
    height: 60px;
}

#titolo{
    font-family: Andalus;
    text-align: center;
    font-size: 40px;
}
.emailtesto {
    margin-top: 15px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.passwordtesto {
    margin-top: 15px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.login{
    cursor:pointer;
    text-align: center;
    margin-top: 15px;
    background: red;
    background: red;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
span.testo {
    padding: 10px;
    color: #FFFFFF;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

span.button {
    padding: 10px;
    color: #FFFFFF;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

.link{
    text-align: center;
    padding-top: 38.5px;
}